/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
     font-size:62.5%;
     font-family: 'Nanum Myeongjo', serif;
}
header {
     background: linear-gradient(0deg,black,rgb(37, 37, 37));
     box-shadow: 1rem 1rem 1rem grey;
     
}
a {
     text-decoration:none;
     font-size:2rem;
     font-weight:600;
     color:rgb(195, 194, 194);
}


/******************************************
/* Header
/*******************************************/
#logo {
     color:rgb(195, 194, 194);
     font-family: 'Kolker Brush', cursive;
     font-size:8rem;
     padding-left:2rem;

}
nav {
     display:flex;
     justify-content:space-between;
     column-gap: 2rem;
     
}
nav a {
     text-transform:uppercase;
     letter-spacing:0.4rem;
     align-self:center;
}
nav .nav {
     display:flex;
     width:100%;
     flex-flow:row nowrap;
     align-content:stretch;
     
     
}
.nav li {
     flex-grow: 2;
     display:flex;
     justify-content:center;
     align-content:stretch;
}

/******************************************
/* Greeting
/*******************************************/
#greeting {
     
    display:flex;
    flex-flow: column nowrap;
    justify-content:center;
    background: url('../img/cover-girl.jpg') no-repeat 0 0;
				background-size: cover;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
     height:60vw;
}
#greeting .intro{
     color:rgb(255, 255, 255);
     margin-left:10%;
     margin-bottom:10%;
}
.intro h1 {
     width:50%;
     text-transform:uppercase;
     letter-spacing:1rem;
     font-size:8rem;
     padding: 2rem 0 ;
     line-height: 10rem ;
}
.intro p {
     text-transform:uppercase;
     letter-spacing:0.3rem;
     margin:0 0 2rem 1rem;
     padding-bottom:2rem ;
     font-weight:600;
     font-size:1.6rem;
}
.intro a {
     margin:0 0 2rem 1rem;
}
#greeting .banner{

     width:20%;
     margin-left:10%;
}
#greeting .banner > span {
     display:block;
     text-align:center;
     font-weight:600;
     font-size:3rem;
     letter-spacing:0.2rem;
     text-transform: uppercase;
     color: rgb(255, 255, 255);
     margin: 3rem 0 6rem;
}
#greeting .banner > p {
     color: rgb(201, 201, 201);
     line-height:3rem;
     font-size:1.6rem;
     font-weight:600;
     letter-spacing:0.2rem;
     text-transform: uppercase;
     margin:2rem 0;
}

#greeting .banner > a {
}
/******************************************
/* Modules
/*******************************************/
.wrapper {
     clear:both;
     overflow:none;
}
.bg-img {
     width:100%;
     float:right;
}
.btn {
     color: rgb(225, 225, 225);
     padding:1rem 3rem;
     margin:0.4rem;
     background-color: rgb(37, 37, 37);
     transition: color 0.3s, background-color 0.6s,padding 0.6s,margin 0.6s;

}
.btn:hover {
     color: rgb(37, 37, 37);
     margin:0rem;
     padding:1.2rem 3.2rem;
     background-color: rgb(195, 195, 195);
}
.btn-white {
     color: rgb(37, 37, 37);
     background-color: rgb(195, 195, 195);
     padding:1rem 3rem;
     transition: background-color 0.6s;
}
.btn-white:hover {
     background-color: rgb(255, 255, 255);
}
.banner {
     padding: 4rem 2rem;
     background-color:rgb(37, 37, 37);
     text-align:center;

}
